body{
    border-style: dotted;
    text-align: center;
    background-color: burlywood; 
 }
 IMG {
     border: 0cqh;
     border-color: cadetblue;
 
 }
 
 h1{
     text-align: center;
     color:steelblue;
    font-family:cursive;
 }
 h2{
    background-color: lightcoral;
 }
 H4{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color:lightcoral;
 }